@import "tailwindcss";

@theme {
  --color-main1: #9bb200;
  --color-main2: #58482b;
  --color-main3: #98c0c5;
  --color-alt1: #fd0002;
  --color-alt2: #fc6701;
  --color-alt3: #f2fe20;
  --color-kuro: #100317;
  --color-shiro: #fefefe;

  --breakpoint-mlg: 900px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
