@import "tailwindcss";

@theme {
  --color-main1: #9bb200;
  --color-main2: #58482b;
  --color-main3: #98c0c5;
  --color-alt1: #fd0002;
  --color-alt2: #fc6701;
  --color-alt3: #f2fe20;
  --color-kuro: #100317;
  --color-shiro: #fefefe;

  --article-base: 900px;
  --article-big: 1000px;

  --breakpoint-mlg: 900px;
}

/* SIMILAR */
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
article {
  width: var(--article-base);
  max-width: 90%;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  text-shadow: 1px 1px 2px #111;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-main1) !important;
}

/* CUSTOM */
@layer utilities {
  .nav-toggles {
    @apply flex items-center gap-3;
  }
  .side-toggles {
    @apply flex flex-col max-[950px]:justify-between min-[950px]:justify-center max-[950px]:items-center max-[950px]:gap-5 max-[950px]:w-fit max-[950px]:h-screen max-[950px]:bg-main1 max-[950px]:p-5 max-[950px]:shadow-[4px_0_10px_rgba(0,0,0,0.1)];
  }
}
